#user-login div.form-item-loginbeep-identifier {
  display: block;
}

#user-login label[for=edit-loginbeep-identifier] {
  margin-bottom: 10px;
}

#user-login label[for=edit-loginbeep-identifier]:before {
  display: inline-block;
  width: 10px;
  height: 10px;
  content: '';
  margin-right: 10px;
  border-radius: 8px;
  border: 3px solid #FFFFFF;
  vertical-align: middle;
	background-size: 400%;
  background: #ff0084;
  background: -moz-linear-gradient(-45deg, #ff0084 0%, #5000a0 100%);
  background: -webkit-linear-gradient(-45deg, #ff0084 0%,#5000a0 100%);
  background: linear-gradient(-45deg, #ff0084 0%,#5000a0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0084', endColorstr='#5000a0',GradientType=0 );

	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 2s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
